/* Default font settings for all standard p, td elements */
/*p, td, div, span {
	font-family: verdana, sans-serif;
	font-size: 11px;
}*/

p, td, span {
	font-family: Î¢ÈíÑÅºÚ,verdana, sans-serif;
	font-size: 11px;
}

/* Default font settings for all form elements */
input, select, option, textarea {
	font-family: Î¢ÈíÑÅºÚ,verdana, sans-serif;
	font-size: 11px;
}

A {
	COLOR: #4a7ac9; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A:visited {
	
}
BODY {
	FONT: 11px/17px Î¢ÈíÑÅºÚ,tahoma, arial, helvetica, sans-serif, verdana; COLOR: #333333; BACKGROUND-COLOR: #fff
}
A.bold {
	FONT-WEIGHT: bold
}
A.bold:active {
	FONT-WEIGHT: bold
}
A.bold:hover {
	FONT-WEIGHT: bold
}
A.bold:visited {
	FONT-WEIGHT: bold
}
A.white {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white:active {
	COLOR: #ffd275; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffd275; TEXT-DECORATION: none
}
A.white:visited {
	
}
A.whitebold {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.whitebold:visited {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.whitebold:active {
	FONT-WEIGHT: bold; COLOR: #ffd275; TEXT-DECORATION: none
}
A.whitebold:hover {
	FONT-WEIGHT: bold; COLOR: #ffd275; TEXT-DECORATION: none
}
A.bookmark {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:active {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma, arial, helvetica, sans-serif, verdana
}
A.gray {
	COLOR: #8d9398; TEXT-DECORATION: none
}
A.gray:active {
	COLOR: #8d9398; TEXT-DECORATION: underline
}
A.gray:hover {
	COLOR: #8d9398; TEXT-DECORATION: underline
}
A.gray:visited {
	COLOR: #8d9398
}
A.black {
	COLOR: #333; TEXT-DECORATION: none
}
A.black:active {
	COLOR: #333; TEXT-DECORATION: underline
}
A.black:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
A.black:visited {
	COLOR: #333
}
A.black-bold {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: none
}
A.black-bold:active {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: underline
}
A.black-bold:hover {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: underline
}
A.black-bold:visited {
	FONT-WEIGHT: bold; COLOR: #333
}
A.dkblue-bold {
	FONT-WEIGHT: bold; COLOR: #4a7ac9; TEXT-DECORATION: none
}
A.dkblue-bold:active {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.dkblue-bold:hover {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.dkblue-bold:visited {
	
}
TABLE.border {
	BORDER-RIGHT: #a0b4e0 1px solid; BORDER-TOP: #a0b4e0 1px solid; BORDER-LEFT: #a0b4e0 1px solid; BORDER-BOTTOM: #a0b4e0 1px solid; BACKGROUND-COLOR: #f5f7fc
}
TABLE.borderkb {
	BORDER-RIGHT: #a0b4e0 1px solid; BORDER-LEFT: #a0b4e0 1px solid
}
TABLE.pageheading {
	BACKGROUND-POSITION: 199px 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #0246be
}
TR {
	COLOR: #333333
}
TR.white {
	CURSOR: pointer; COLOR: #ffffff
}
TR.orange {
	CURSOR: pointer; COLOR: #ffcc66
}
.normal {
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana
}
TD {
	FONT: 12px/17px Î¢ÈíÑÅºÚ, tahoma, arial, helvetica, sans-serif, verdana
}
TD.ltblue {
	BORDER-BOTTOM: #a4c2f5 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.ltblueborder {
	BORDER-BOTTOM: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.heading {
	
}
TD.whitebold {
	FONT-WEIGHT: bold; COLOR: #fff
}
TD.gray {
	COLOR: #8d9398
}
TD.white {
	COLOR: #fff
}
TD.splitleft {
	BORDER-RIGHT: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.splitright {
	BORDER-RIGHT: #002d96 1px solid; BORDER-LEFT: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.splitbottom {
	BORDER-TOP: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.footer {
	COLOR: #fff; BACKGROUND-COLOR: #003399
}
TD.pageheading {
	COLOR: #fff
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}

SELECT {
	BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    BORDER-LEFT: #0066cc 1px solid;
    BORDER-BOTTOM: #0066cc 1px solid;
	LINE-HEIGHT: 100%;
	/*FONT: 12px/17px tahoma, arial, helvetica, sans-serif, verdana;*/
	BACKGROUND-COLOR: #f1f5fa
}

INPUT.normal {
	BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    BORDER-LEFT: #0066cc 1px solid;
    BORDER-BOTTOM: #0066cc 1px solid;
	LINE-HEIGHT: 100%;
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana;
	WIDTH: 90px;
	BACKGROUND-COLOR: #f1f5fa
}
INPUT.searchbox {
	BORDER-RIGHT: #024197 1px solid;
	BORDER-TOP: #024197 1px solid;
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana;
	BORDER-LEFT: #024197 1px solid;
	WIDTH: 90px;
	BORDER-BOTTOM: #024197 1px solid
}
INPUT.FormText
{
    BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    BORDER-LEFT: #0066cc 1px solid;
    LINE-HEIGHT: 100%;
    BORDER-BOTTOM: #0066cc 1px solid;
    BACKGROUND-COLOR: #f1f5fa
}
TEXTAREA.normal {
	BORDER-RIGHT: #0066cc 1px solid;
    BORDER-TOP: #0066cc 1px solid;
    font-family: Verdana;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #0066cc 1px solid;
    LINE-HEIGHT: 150%;
    BORDER-BOTTOM: #0066cc 1px solid;
    BACKGROUND-COLOR: #f1f5fa
}
PRE.code {
	BORDER-RIGHT: #c0c0c0 1px solid;
	PADDING-RIGHT: 2pt;
	BORDER-TOP: #c0c0c0 1px solid;
	MARGIN-TOP: 1em;
	PADDING-LEFT: 2pt;
	BACKGROUND: #faf9f5;
	MARGIN-BOTTOM: 1em;
	PADDING-BOTTOM: 2pt;
	FONT: 100% "courier new", "courier", "mono";
	MARGIN-LEFT: 0px;
	BORDER-LEFT: #c0c0c0 1px solid;
	COLOR: #333333;
	PADDING-TOP: 2pt;
	BORDER-BOTTOM: #c0c0c0 1px solid
}
B.title {
	FONT-SIZE: 12px
}
B.blue {
	COLOR: #333333
}
FONT.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
UL.productindex {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; MARGIN: 5px
}
UL.mainmenu {
	PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN: 5px; COLOR: #000000
}
DIV.menu {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #fff 1px solid;
	WIDTH: 95%;
	CURSOR: hand;
	COLOR: #333;
	BORDER-BOTTOM: #fff 1px solid
}
DIV.menuOver {
	BORDER-RIGHT: #003399 1px solid;
	BORDER-TOP: #003399 1px solid;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #003399 1px solid;
	WIDTH: 95%;
	CURSOR: hand;
	COLOR: #000;
	BORDER-BOTTOM: #003399 1px solid
}
FONT.tabLINK {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
FONT.tabLINKhover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
FONT.tabLINKbold {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINK:link {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
A.tabLINK:visited {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
A.tabLINK:hover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:link {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:visited {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:hover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
.TAB {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	BORDER-LEFT: #cccccc 1px solid
}
.TAB_CLOSED {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: #cccccc 1px solid;
	BORDER-LEFT: #cccccc 1px solid;
	BACKGROUND-COLOR: whitesmoke
}
.TABCLOSED {
	BORDER-BOTTOM: #cccccc 1px solid
}
.TABOPEN {
	BORDER-BOTTOM: #cccccc 0px solid
}
.CLOSE_TABS {
	BORDER-RIGHT: #cccccc 1px solid;
	BORDER-TOP: 0px;
	BORDER-LEFT: #cccccc 1px solid;
	BORDER-BOTTOM: #cccccc 1px solid;
	BORDER-COLLAPSE: collapse
}
.BORDERS {
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: 0px;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid;
	BORDER-COLLAPSE: collapse
}
.MENUTABBOTTOM {
	BORDER-BOTTOM: #7f9db9 1px solid
}
.MENUTABBORDER {
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}
.pgraph {
	MARGIN: 20px; WIDTH: 525px
}
P {
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 15px;
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana;
	COLOR: #333333
}
.linkstitle {
	WIDTH: 100%; CURSOR: hand
}

/* opencms css */

/* Body used for workplace head (top_head.html) */
body.buttons-head {
	font-family: verdana, sans-serif;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	background-color: ThreeDFace;
	border-top: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDShadow;
}

/* Body used for workplace foot (top_foot.html) */
body.buttons-foot {
	font-family: verdana, sans-serif;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	background-color: ThreeDFace;
	border-top: 1px solid ThreeDLightShadow;
	border-left: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDShadow;
}

/* Button - Normal style (inactive) */
span.norm {
	display: block;
	border: 1px solid ThreeDFace;
}

/* Button - Hover style */
span.over {
	display: block;
	border-top: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDShadow;
}

/* Button - Push style */
span.push {
	display: block;
	border-top: 1px solid ThreeDShadow;
	border-left: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDHighlight;
}

/* Button - Disabled style */
span.disabled {
	display: block;
	border: 1px solid ThreeDFace;
	color: GrayText;
}

/* Button - Tart tab */
span.starttab {
	display: block;
	height: 16px;
	width: 1px;
	border-top: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDShadow;
}

/* Button - Separator */
span.separator {
	display: block;
	height: 18px;
	width: 0px;
	border-top: 0px;
	border-left: 1px solid ThreeDShadow;
	border-bottom: 0px;
	border-right: 1px solid ThreeDHighlight;
}

/* Button - Horizontal Separator line */
.horseparator {
	width: 100%;
	background-color: ThreeDHighlight;
	border-top: 1px solid ThreeDShadow;
}

/* Button - Text button wrapper  */
span.txtbutton {
	display: block;
	height: 17px;
	white-space: nowrap;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Button - Image button wrapper */
span.imgbutton {
	padding-left: 1px;
	padding-right: 5px;
}

/* Button - Combined image and text button wrapper */
span.combobutton {
	display: block;
	height: 17px;
	white-space: nowrap;
	padding-top: 3px;
	padding-left: 21px;
	padding-right: 5px;
	background-repeat: no-repeat;
}

/* Button - Image button in image style */
img.button {
	height: 20px;
	width: 20px;
	border: 0px none;
	vertical-align: middle;
}

/* Button - Link (href) style */
a.button {
	color: ButtonText;
	text-decoration: none;
	cursor: pointer;
}

/* ########## Dialog styles ########## */

body.report {
	background-color: Window;
}

body.dialogadmin {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: Window;
	border-top: 1px solid ThreedDarkShadow;
}

body.dialog {
	font-family: verdana, sans-serif;
	font-size: 11px;
	padding: 0;
	margin: 0;
	background-color: Window;
}

body.dialogpopup {
	margin: 0 auto;
	background-color: ThreeDFace;
}

/* outer table of complete dialog window */
table.dialog {
	margin: 20px auto;
	width: 85%;
	border-left: 1px solid ThreeDLightShadow;
	border-top: 1px solid ThreeDLightShadow;
	border-right: 1px solid ThreedDarkShadow;
	border-bottom: 1px solid ThreedDarkShadow;
}

/* inner table of complete dialog window */
table.dialogbox {
	width: 100%;
	background-color: ThreeDFace;
	border-left: 1px solid ThreeDHighlight;
	border-top: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDShadow;
	padding: 1px;
}

/* headline of dialog window */
.dialoghead {
	background-color: ActiveCaption;
	margin-bottom: 8px;
	padding: 2px;
	color: CaptionText;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	white-space: nowrap;	
}

/* Subheadline used in content area */
.dialogsubheader {
	font-weight: bold;
	margin: 12px 0 5px 0;
}

/* content area of dialog */
.dialogcontent {
	border-left: 1px solid ThreeDHighlight;
	border-top: 1px solid ThreeDHighlight;
	border-right: 2px solid ThreeDShadow;
	border-bottom: 2px solid ThreeDShadow;
	padding: 15px;
	margin: 8px;
}

/* one content line of dialog (e.g. text and input field) without breaks */
.dialogrow {
	margin-bottom: 5px;
	display: block;
	white-space: nowrap;
}

/* 3D block outer border definition */
div.dialogblockborderheadline {
	margin-top: 10px;
}

/* 3D block outer border definition without headline */
div.dialogblockborder {
	border-left: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
}

/* 3D block main style */
div.dialogblock {
	position: relative;
	padding: 8px;
	border-left: 1px solid ThreeDHighlight;
	border-top: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDShadow;
}

/* 3D block headline, positioned "inside" border */
span.dialogblockhead {
	font-weight: bold;
	position:absolute;
	top: -7px;
	left: 5px;
	background-color: ThreeDFace;
	padding: 0 3px;
	white-space: nowrap;
}

/* outer border of white inner box */
.dialoginnerboxborder {
	border-left: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
	padding: 0;
}

/* white inner box for dialogs */
.dialoginnerbox {
	background-color: Window;
	border-left: 1px solid ThreedDarkShadow;
	border-top: 1px solid ThreedDarkShadow;
	border-right: 1px solid ThreeDLightShadow;
	border-bottom: 1px solid ThreeDLightShadow;
	padding: 2px;
}

/* separator line */
.dialogseparator {
	border-top: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDHighlight;
	margin: 5px 0;
}

/* separator line */
.dialogspacer {
	height: 10px;
}

/* error messages style */
.dialogerror {
	color: #c03;
}

/* final button row of dialog window */
.dialogbuttons {
	padding: 3px 8px 5px;
	text-align: center;
}

/* Submit and other buttons */
input.dialogbutton {
	font-family: verdana, sans-serif;
	font-size: 11px;
	background-color: ButtonFace;
	width: 100px;
	height: 20px;
	padding: 0 5px;
	margin-left: 12px;
	overflow: visible;
}

/* Special input field for property dialog */
input.dialogmarkedfield {
	width: 100%;
	background-color: #E9E9E9;
}

/* row marked as selected */
.dialogmarked {
	background-color: ActiveCaption;
	color: CaptionText;
	display: block;
	cursor: pointer;
	white-space: nowrap;
}

/* an unmarked row */
.dialogunmarked {
	display: block;
	cursor: pointer;
	white-space: nowrap;
}

/* empty dummy style */
.empty {}

/* bold text */
.textbold {
	font-weight: bold;
}

/* centered text */
.textcenter {
	text-align: center;
}

/* maximum width for td, input field, etc. */
.maxwidth {
	width: 100%;
}

/* no border for elements */
.noborder {
	border-style: none;
}

/* element without margin and padding */
.nomargin {
	padding: 0;
	margin: 0;
}

/* hide a block */
.hide {
	display: none;
	visibility: hidden;
}

/* show a block */
.show {
	display: inline;
	visibility: visible;
}

/* special definitions for permission dialog */
table.dialogpermissiondetails {
	table-layout: fixed;
	width: 420px;
	margin-left: 15px;
}

td.dialogpermissioncell {
	width: 140px;
	overflow: hidden;
}

div.dialogpermissioninherit {
	width: 420px;
	overflow: auto;
	margin-left: 17px;
}

/* definitions for "tab-style" dialogs */
.dialogtab {
	border-top: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDHighlight;
	border-right: 2px solid ThreeDShadow;
	background-color: ThreeDFace;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.dialogtabactive {
	border-top: 2px solid ThreeDHighlight;
	border-left: 2px solid ThreeDHighlight;
	border-right: 2px solid ThreeDShadow;
	background-color: ThreeDFace;
	text-align: center;
	color: CaptionText;
	font-weight: bold;
	white-space: nowrap;
}

.dialogtabstart {
	padding: 15px;
	margin: 8px;
}

.dialogtabrow {
	height: 1px;
	background-color: ThreeDHighlight;
}

.dialogtabcontent {
	border-left: 1px solid ThreeDHighlight;
	border-right: 2px solid ThreeDShadow;
	border-bottom: 2px solid ThreeDShadow;
	padding: 15px;
	margin-top: -1px;
}

a.tab {
	color: WindowText;
	text-decoration: none;
	display: block;
	padding: 4px;
}

a.tab:hover {
	color: GrayText;
}

span.tabactive {
	color: WindowText;
	text-decoration: none;
	display: block;
	padding: 4px;
}

.texteditor {
	font-family: fixedsys, monospace, sans-serif;
	font-size: 11px;
}

.buttonbackground {
	border-top: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDShadow;
	padding: 1px;
	background-color: ThreeDFace;	
}

/* definitions for xmlcontent editor form */
.xmlTable { 
	width:100%; 
}

.xmlTableNested { 
	width:100%;
	border: 2px outset ThreeDHighlight;
}

.xmlTd    { 
	width: 100%; 
	height: 22px; 
}

.xmlTdDisabled {
	font-style: italic; 
	border-right: 1px dotted ThreeDShadow;
}

.xmlTdErrorHeader {
	font-size: 14px;
	font-weight: bold;
	color: #B40000;
	text-align: center;
}

.xmlTdError {
	font-style: italic;
	font-weight: bold;
	color: #B40000;
}

.xmlTdWarning {
	font-style: italic;
	font-weight: bold;
	color: #EE7700;
}

.xmlLabel { 
	white-space: nowrap;
}

.xmlLabelDisabled {
	font-style: italic; 
	white-space: nowrap;
}

.xmlInput { 
	border: 1px solid WindowFrame; 
}

.xmlInputSmall { 
	width: 200px; 
	border: 1px solid WindowFrame; 
}

.xmlInputMedium { 
	width: 400px;
	border: 1px solid WindowFrame;  
}

.xmlHtmlGallery {
	width: 100%;
	overflow: auto;
	background-color: ThreeDFace;
	border: 1px solid WindowFrame;
}

.help { 
	color: InfoText; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    padding: 5px; 
    width: 200px; 
    border: 1px solid WindowFrame; 
    background-color: InfoBackground; 
    visibility: hidden; 
    font-size: 8pt; 
}

/* special definition for IE bug displaying horizontal scroll bar in STRICT mode,
   this must ALWAYS stay at the end of the css! */
body.dialog { voice-family: "\"}\""; voice-family: inherit; width: expression(document.documentElement.clientWidth - 20); }