P {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.25em
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: white
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}
.blackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}
PRE {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: #c0c0c0 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 2pt; BACKGROUND: #eeeeee; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 2pt; FONT: 100% "courier new", "courier", "mono"; MARGIN-LEFT: 0px; BORDER-LEFT: #c0c0c0 1px solid; PADDING-TOP: 2pt; BORDER-BOTTOM: #c0c0c0 1px solid
}
CODE {
	FONT: 100% "courier new", "courier", "mono"; COLOR: #990000
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}
TD.smalltext {
	FONT-SIZE: 10px; COLOR: white
}
TD.white {
	COLOR: white
}
TD.whitebold {
	FONT-WEIGHT: bold; COLOR: white
}
TD.sectiontitle {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #333333
}
H2 {
	MARGIN: 0px; COLOR: #a5a5a5
}
A {
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.bluebold {
	FONT-WEIGHT: bold
}
A.bluebold:active {
	FONT-WEIGHT: bold
}
A.bluebold:hover {
	FONT-WEIGHT: bold
}
A.bluebold:visited {
	FONT-WEIGHT: bold
}
A.white {
	COLOR: white
}
A.white:active {
	COLOR: white
}
A.white:hover {
	COLOR: white
}
A.white:visited {
	COLOR: white
}
A.whitebold {
	FONT-WEIGHT: bold; COLOR: white
}
A.whitebold:active {
	FONT-WEIGHT: bold; COLOR: white
}
A.whitebold:hover {
	FONT-WEIGHT: bold; COLOR: white
}
A.whitebold:visited {
	FONT-WEIGHT: bold; COLOR: white
}
A.blackbold {
	FONT-WEIGHT: bold; COLOR: black
}
A.blackbold:active {
	FONT-WEIGHT: bold; COLOR: black
}
A.blackbold:hover {
	FONT-WEIGHT: bold; COLOR: black
}
A.blackbold:visited {
	FONT-WEIGHT: bold; COLOR: black
}
A.blackblue {
	COLOR: #000000
}
A.blackblue:active {
	COLOR: #000080
}
A.blackblue:hover {
	COLOR: #000080
}
A.blackblue:visited {
	
}
A.menu {
	FONT-WEIGHT: normal; COLOR: #000066
}
A.menu:active {
	FONT-WEIGHT: normal; COLOR: #4a7ac9
}
A.menu:hover {
	FONT-WEIGHT: normal; COLOR: #4a7ac9
}
A.menu:visited {
	FONT-WEIGHT: normal; COLOR: #000066
}
DIV.title {
	PADDING-RIGHT: 10px; PADDING-BOTTOM: 10px
}
DIV.details {
	PADDING-RIGHT: 10px; PADDING-LEFT: 40px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.caption {
	BORDER-RIGHT: #4a7ac9 1px solid; PADDING-LEFT: 5px; BACKGROUND-COLOR: #e9f0fc
}
.content {
	BORDER-RIGHT: #4a7ac9 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e9f0fc
}
.bullet {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; COLOR: #000066
}
.blackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif
}

LI.submenu {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; COLOR: #000066; LIST-STYLE-TYPE: none
}

/* special definition for IE bug displaying horizontal scroll bar in STRICT mode,
   this must ALWAYS stay at the end of the css! */
body.dialog { voice-family: "\"}\""; voice-family: inherit; width: expression(document.documentElement.clientWidth - 20); }
