BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 75%; BACKGROUND: url(bg.gif) #f4f3f0; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: 微软雅黑,Tahoma, Arial, Helvetica, Sans-Serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 10px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 100%
}
UL {
	LIST-STYLE-TYPE: square
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #4f7500; TEXT-DECORATION: underline
}
A:link {
	COLOR: #4f7500; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #4f7500; TEXT-DECORATION: underline
}
A:active {
	COLOR: #4f7500; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: #eff9d0; COLOR: #395500
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
HR {
	BORDER-TOP: #cccccc 1px dashed; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.wrapper {
	BACKGROUND: url(head_bg.gif) repeat-x left top
}
.innerWrapper {
	MARGIN: 0px auto; /*WIDTH: 750px;*/ TEXT-ALIGN: left; max-width: 1260px
}
.header {
	MARGIN: 5px 0px 0px; HEIGHT: 50px
}
.innerHeader {
	
}
.content {
	FLOAT: right; MARGIN: 0px 0px 0px 0px; WIDTH: 100%
}
.contentRight {
	FLOAT: right; MARGIN: 0px 0px 0px 0px; WIDTH: 79%
}
.innerContent {
	MARGIN-LEFT: 0px; OVERFLOW: visible
}
.sidebar {
	FLOAT: left; WIDTH: 20%/*180px*/
}
.innerSidebar {
	
}
.footer {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #f0f0f0 4px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.innerFooter {
	
}
.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 280px; BACKGROUND: url(logo.png) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 14px; HEIGHT: 60px
}
.title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 150%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.title H1 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.title H1 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.title H1 A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.titleIm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 150px; BACKGROUND: url(im_logo.png) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 14px; HEIGHT: 60px
}
.desc {
	COLOR: #666666
}
.menu {
	PADDING-TOP: 5px
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px
}
.menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: 微软雅黑,Tahoma, Arial; LIST-STYLE-TYPE: none
}
.menu A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: black; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: black; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu A:active {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: black; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: black; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu A:hover {
	BORDER-RIGHT: #a5d11f 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #a5d11f 1px solid; PADDING-LEFT: 9px; BACKGROUND: url(nav_button.png) #f4fbe1; PADDING-BOTTOM: 9px; BORDER-LEFT: #a5d11f 1px solid; COLOR: #395500; PADDING-TOP: 9px; BORDER-BOTTOM: #a5d11f 1px solid
}
#navStrip {
	COLOR: #666666
}
.mainPanel {
	MARGIN: 10px 0px
}
.mainPanelText {
	FONT-SIZE: 120%; COLOR: #5a5447
}
.mainPanelNote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
.contentBlock {
	MARGIN: 0px 0px 10px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 150%; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; COLOR: #666666; PADDING-TOP: 5px
}
H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 125%; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 2px; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e0e0 1px dashed
}
.contentText {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 0px
}
.sidebarBlock {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 20px; PADDING-TOP: 0px
}
.sidebarBlock H5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: #eeedea; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #e4e2da 1px solid
}
.sidebarContent {
	
}
.sidebarBlock UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sidebarBlock LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #e4e2da 1px dotted; LIST-STYLE-TYPE: none
}
.sidebarBlock LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; COLOR: #333333; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.sidebarBlock LI A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; COLOR: #333333; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.sidebarBlock LI A:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; COLOR: #333333; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.sidebarBlock LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; COLOR: #333333; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.sidebarContent LI A:hover {
	BACKGROUND: #eff9d0; COLOR: #395500; TEXT-DECORATION: underline
}
.footerLinks {
	MARGIN-BOTTOM: 20px
}
.footerLinks A {
	MARGIN: 0px 10px
}


p, td, span {
	font-family: 微软雅黑,verdana, sans-serif;
	font-size: 12px;
}
TD {
	FONT: 12px/17px 微软雅黑,tahoma, arial, helvetica, sans-serif, verdana
}

.linkstitle {
	WIDTH: 100%; CURSOR: hand
}

SELECT {
	BORDER-RIGHT: #4f7500 1px solid;
    BORDER-TOP: #4f7500 1px solid;
    BORDER-LEFT: #4f7500 1px solid;
    BORDER-BOTTOM: #4f7500 1px solid;
	LINE-HEIGHT: 100%;
	/*FONT: 12px/17px tahoma, arial, helvetica, sans-serif, verdana;*/
	BACKGROUND-COLOR: #f1f5fa
}

INPUT.normal {
	BORDER-RIGHT: #4f7500 1px solid;
    BORDER-TOP: #4f7500 1px solid;
    BORDER-LEFT: #4f7500 1px solid;
    BORDER-BOTTOM: #4f7500 1px solid;
	LINE-HEIGHT: 100%;
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana;
	WIDTH: 90px;
	BACKGROUND-COLOR: #eff9d0
}
INPUT.searchbox {
	BORDER-RIGHT: #4f7500 1px solid;
	BORDER-TOP: #4f7500 1px solid;
	FONT: 11px/17px tahoma, arial, helvetica, sans-serif, verdana;
	BORDER-LEFT: #4f7500 1px solid;
	WIDTH: 90px;
	BORDER-BOTTOM: #4f7500 1px solid
}
INPUT.FormText
{
    BORDER-RIGHT: #4f7500 1px solid;
    BORDER-TOP: #4f7500 1px solid;
    BORDER-LEFT: #4f7500 1px solid;
    LINE-HEIGHT: 100%;
    BORDER-BOTTOM: #4f7500 1px solid;
    BACKGROUND-COLOR: #eff9d0
}
TEXTAREA.normal {
	BORDER-RIGHT: #4f7500 1px solid;
    BORDER-TOP: #4f7500 1px solid;
    font-family: Verdana;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #4f7500 1px solid;
    LINE-HEIGHT: 150%;
    BORDER-BOTTOM: #4f7500 1px solid;
    BACKGROUND-COLOR: #eff9d0
}
PRE.code {
	BORDER-RIGHT: #c0c0c0 1px solid;
	PADDING-RIGHT: 2pt;
	BORDER-TOP: #c0c0c0 1px solid;
	MARGIN-TOP: 1em;
	PADDING-LEFT: 2pt;
	BACKGROUND: #faf9f5;
	MARGIN-BOTTOM: 1em;
	PADDING-BOTTOM: 2pt;
	FONT: 100% "courier new", "courier", "mono";
	MARGIN-LEFT: 0px;
	BORDER-LEFT: #c0c0c0 1px solid;
	COLOR: #333333;
	PADDING-TOP: 2pt;
	BORDER-BOTTOM: #c0c0c0 1px solid
}
