FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 0px
}
.feedback P {
	CLEAR: both
}
.feedback LABEL {
	FLOAT: left; WIDTH: 15%; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
.fieldset_value {
	FLOAT: left; WIDTH: 80%
}
.weak {
	COLOR: #666
}
.alert {
	PADDING-LEFT: 18px; BACKGROUND: url(icon_error.gif) no-repeat; COLOR: red
}
.valid {
	PADDING-LEFT: 18px; BACKGROUND: url(icon_valid.gif) no-repeat; COLOR: red
}
.message {
	PADDING-LEFT: 14px; BACKGROUND: url(icon_backupemail.gif) no-repeat; COLOR: red
}
.message:hover {
	BACKGROUND: url(icon_backupemail.gif) no-repeat
}
.required {
	COLOR: red
}
.tab {
	BORDER-RIGHT: #eff9d0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #eff9d0 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: -3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eff9d0 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eff9d0 1px; TEXT-DECORATION: none
}
.tab:link {
	TEXT-DECORATION: none
}
.tab:hover {
	TEXT-DECORATION: none
}
.tab:active {
	TEXT-DECORATION: none
}
.tab:visited {
	TEXT-DECORATION: none
}
.tab_active {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.login TD {
	HEIGHT: 3em
}
.pwd-strength-box {
	WIDTH: 33%; COLOR: #464646; TEXT-ALIGN: center
}
.pwd-strength-box-low {
	WIDTH: 33%; COLOR: #464646; TEXT-ALIGN: center
}
.pwd-strength-box-med {
	WIDTH: 33%; COLOR: #464646; TEXT-ALIGN: center
}
.pwd-strength-box-hi {
	WIDTH: 33%; COLOR: #464646; TEXT-ALIGN: center
}
.pwd-strength-box-low {
	COLOR: #990000; BACKGROUND-COLOR: #ffecec
}
.pwd-strength-box-med {
	COLOR: #000066; BACKGROUND-COLOR: #d2e9ff
}
.pwd-strength-box-hi {
	COLOR: #003300; BACKGROUND-COLOR: #ddffdd
}
.td-row-header {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
.td-sign-in {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; TEXT-ALIGN: right
}
.img-dot {
	MARGIN-RIGHT: 5px
}
