body,td
{
	font-size:1px;
}
body
{
	scrollbar-arrow-color:#fff;
	scrollbar-base-color:#000e41;
	margin:0;
	padding:0;
	border:0;
	overflow:hidden;
}
#MainTable
{
	border:0;
	width:100%;
	height:100%;
}
#MainTable .lt
{
	width:3px;
	height:25px;
	background-image:url(lt.gif);
}
#MainTable .t
{
	width:auto;
	height:25px;
	background-image:url(t.gif);
}
#MainTable .t .ico
{
	float:left;
	width:16px;
	height:16px;
	margin:0 0 0 2px;
}
#MainTable .t .title
{
	float:left;
	position:relative;
	font-size:12px;
	cursor:default;
	color:#e7e7e7;
}
#MainTable .t .title .title_shadown
{
	position:absolute;
	left:-1px;top:-1px;
	color:#000;
}
#MainTable .t .bt1,#MainTable .t .bt1on,#MainTable .t .bt1down,
#MainTable .t .bt2,#MainTable .t .bt2on,#MainTable .t .bt2down,
#MainTable .t .bt3,#MainTable .t .bt3on,#MainTable .t .bt3down
{
	float:right;
	width:25px; height:25px;
	cursor:default;
	font-size:1px;
}
#MainTable .t .bt1 {background:#000 url(bt.gif) no-repeat 0 0;}
#MainTable .t .bt2 {background:#000 url(bt.gif) no-repeat -25px 0;}
#MainTable .t .bt3 {background:#000 url(bt.gif) no-repeat -50px 0;}

#MainTable .t .bt1on {background:#000 url(bt.gif) no-repeat 0 -25px;}
#MainTable .t .bt2on {background:#000 url(bt.gif) no-repeat -25px -25px;}
#MainTable .t .bt3on {background:#000 url(bt.gif) no-repeat -50px -25px;}

#MainTable .t .bt1down {background:#000 url(bt.gif) no-repeat 0 -50px;}
#MainTable .t .bt2down {background:#000 url(bt.gif) no-repeat -25px -50px;}
#MainTable .t .bt3down {background:#000 url(bt.gif) no-repeat -50px -50px;}

#MainTable .rt
{
	width:5px;
	height:31px;
	background-image:url(rt.gif);
}
#MainTable .lr
{
	width:5px;
	height:auto;
	background-image:url(lr.gif);
}
#MainTable .lb
{
	width:5px;
	height:5px;
	background-image:url(lb.gif);
}
#MainTable .b
{
	width:auto;
	height:5px;
	background-image:url(b.gif);
}
#MainTable .rb
{
	width:5px;
	height:5px;
	background-image:url(rb.gif);
}
#MainTable .m
{
	font-size:12px;
}
#mainFrame
{
	width:100%;
	height:100%;
	cursor:default;
	overflow:auto;
}



